.tabbar {z-index:199; padding:0 0 0 32px; margin:0; list-style:none; height:40px; background:url(graphics/tabbar/tabbg.gif)  repeat-x left top; position:relative;font-family:Trebuchet MS; }
.tabbar li {display:block; float:left; position:relative;}
.tabbar li a {display:block; float:left; height:40px; line-height:33px; color:#404040; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;background:url(graphics/tabbar/btnup.gif) no-repeat left top;}
.tabbar li a span {float:left; font-weight:bold; display:block; padding:0 24px 0 12px; height:40px;background:url(graphics/tabbar/btnup.gif) no-repeat right top;}
.tabbar li a:hover {color:#000; background: url(graphics/tabbar/btndown.gif) no-repeat;}
.tabbar li a:hover span {background:url(graphics/tabbar/btndown.gif) no-repeat right top;}
.tabbar li a.selected {display:block; float:left; height:40px; line-height:33px; color:#404040; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;color:#000; background: url(graphics/tabbar/btndown.gif) no-repeat;}
.tabbar li a.selected span {float:left; font-weight:bold; display:block; padding:0 24px 0 12px; height:40px;background:url(graphics/tabbar/btndown.gif) no-repeat right top;}

.tabbar a:hover {visibility:visible;}
.tabbar li:hover {position:relative;}

