.news 
{
	width:173px;
	margin:5px;
	border: solid 1px #c0c0c0;
	background: white
}

.rotatortitle
{
	font-size:14px;
	font-weight:bold;
	color: #1046b6;
}


.rotatorhead
{
	font-size:12px;
	font-weight:bold;
	border-top:solid 1px #c0c0c0;
}

.rotatorhead a:hover
{
	font-size:12px;
	font-weight:bold;
	Color: #808080;
}

.rotatorhead a
{
	font-size:12px;
	font-weight:bold;
	Color: #c70727;
	text-decoration:none;
}

.rotatorintro
{
	font-size:12px;
	color:#404040
}


.rotatorpic
{
float:right;
width:75px;
margin-left:3px;
	
}



.storyhead
{
	font-size:16px;
	font-weight:bold;
	Color: #c70727;
	line-height:55px;
}

.storyintro
{
	font-size:14px;
	font-weight:bold;
	color:#404040;
}

.storybody
{
	font-size:12px;
	color:#404040
}

.storypicpanel
{
	float:right;
	width:250px;
	background:#eaeaea;
	margin-left:10px;
}

.storypic
{
	
	width:250px;
}


.storypiccaption
{
	font-size:12px;
	color:#404040;
	



