.topmenu { z-index:200;border-left:solid 1px #c0c0c0; border-right:solid 1px #c0c0c0; padding:0 0 0 32px; margin:0px; list-style:none; height:35px; background:url(graphics/topmenu/btnup.gif) repeat-x; position:relative;font-family:Myriad Pro; }
.topmenu li {display:block; float:left; position:relative;}
.topmenu li a {display:block; float:left; height:40px; line-height:33px; color:#404040; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;}
.topmenu li a span {float:left; font-weight:bold; display:block; padding:0 20px 0 10px; height:40px;}
.topmenu li a:hover {color:#000; background: url(graphics/topmenu/btndown.gif) no-repeat;}
.topmenu li a:hover span {background:url(graphics/topmenu/btndown.gif) no-repeat right top;}
.topmenu li a.selected {display:block; float:left; height:40px; line-height:33px; color:#404040; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 10px; cursor:pointer;color:#000; background: url(graphics/topmenu/btndown.gif) no-repeat;}
.topmenu li a.selected span {float:left; font-weight:bold; display:block; padding:0 20px 0 10px; height:40px;background:url(graphics/topmenu/btndown.gif) no-repeat right top;}

.topmenu a:hover {visibility:visible;}
.topmenu li:hover {position:relative; z-index:200;}

.topmenu ul, 
.topmenu :hover ul ul, 
.topmenu :hover ul :hover ul ul,
.topmenu :hover ul :hover ul :hover ul ul,
.topmenu :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.topmenu :hover ul {left:2px; top:40px; right:2px; background: #fff; padding:3px 0; border:1px solid #95d2ee; white-space:nowrap; width:200px; height:auto;}
.topmenu :hover ul li {display:block; height:20px; position:relative; float:left; width:250px;}
.topmenu :hover ul li a {font-weight:bold;display:block; font-size:11px; height:20px; width:186px; line-height:20px; text-indent:5px; color:#707070; text-decoration:none; border:3px solid #fff; border-width:0 0 0 3px;}
.topmenu :hover ul li a:hover {background:#95d2ee; color:#fff;}

.topmenu :hover ul :hover ul,
.topmenu :hover ul :hover ul :hover ul,
.topmenu :hover ul :hover ul :hover ul :hover ul,
.topmenu :hover ul :hover ul :hover ul :hover ul :hover ul
{left:90px; top:-4px; background: #fff; padding:3px 0; border:1px solid 95d2ee; white-space:nowrap; width:93px; z-index:200; height:auto;}

        .allmenu
        {
            position: relative;
            left: 0px;
            top: 0px;
            width: 0px;
            height: 0px;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .allmenu ul
        {
            position: absolute;
            left: 0px;
            top: 0px;
            right: 2px;
            background: #fff;
            padding: 3px 0;
            border: 1px solid #95d2ee;
            white-space: nowrap;
            width: 186px;
            height: auto;
            font-size: 11px;
            font-weight:bold;
        }
        .allmenu ul li, .allmenu ul li a
        {
            display: block;
            height: 20px;
             line-height: 20px;
            text-indent: 5px;
            text-decoration: none;
            color: #707070;
        }
        .allmenu li:hover a
        {
            font-weight: bold;
            display: block;
            font-size: 11px;
            height: 20px;
            width: 186px;
            line-height: 20px;
            color: white;
            background: #95d2ee;
            text-decoration: none;
        }